.leaderboardViewBox{
    width: 50%;
    height: 50vh;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scoresBox{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.scoreLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}   

.pageChangersBox{

    border-top: 1px solid white;
    padding-top: 5px;
}