.blend{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    
    z-index:10;
    background: rgba(162, 162, 162, 0.186);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
}

.blend.show{
    display: block;
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    border-radius: 10px;
    background-color: white;
    padding: 15px;
    color: black;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    font-size: 25px;
}

.textInputLabel{
    text-align: left;
    font-size: inherit;
}

.textInput{
    font-family: inherit;
    outline-color: #da535e;
    outline-width: 1px;
    padding: 5px;
    border: 0.5px solid;
    border-radius: 5px;
    font-size: inherit;
}

.submitInputButton{
    align-self: flex-end;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 3px 10px;
    font-family: inherit;
    font-size: inherit;
}

.submitInputButton:hover{
    background-color: #da535e;
    color: white;
}

.submitInputButton:active{
    background-color: #d2202e;
    color: white;
}

