.modal{
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    color: black;

    font-size: 25px;
}

.modal::backdrop{
    backdrop-filter: blur(4px);
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.textInputLabel{
    text-align: left;
    font-size: inherit;
}

.textInput{
    font-family: inherit;
    outline-color: #da535e;
    outline-width: 1px;
    padding: 5px;
    border: 0.5px solid;
    border-radius: 5px;
    font-size: inherit;
}

.submitInputButton{
    align-self: flex-end;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 3px 10px;
    font-family: inherit;
    font-size: inherit;
}

.submitInputButton:hover{
    background-color: #da535e;
    color: white;
}

.submitInputButton:active{
    background-color: #d2202e;
    color: white;
}

